<form action="/create_venue_from_neighborhood" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @venue.name %>">
  </div>

  <div class="form-group">
    <label for="dish_id">
      Dish
    </label>

    <input type="text" id="dish_id" name="dish_id" class="form-control" value="<%= @venue.dish_id %>">
  </div>

  <input type="hidden" name="neighborhood_id" value="<%= @neighborhood.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create venue
  </button>
</form>
